/* Sidebar styles */
.menu {
    background: #4e7bbf; /* Sidebar background color */
    width: 200px; /* Set a fixed width for the sidebar */
    height: 98.5%; /* Full height */
    top: 50%; /* Vertically center the sidebar */
    margin-left: 120px; /* Horizontally center the sidebar */
    transform: translate(-50%, -50%); /* Adjust to truly center the sidebar */
    border-radius: 15px; /* Rounded corners */
    overflow-y: auto; /* Allow scrolling if content overflows */
    color: #ffffff; /* Text color */
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* Horizontal, Vertical, Blur Radius, Color */
    position: fixed;
}

.menu-items {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
    list-style: none; /* Remove list styling */
    padding: 0; /* Remove padding */
}


.menu-item a {
    display: flex; /* Align icon and text */
    align-items: center; /* Center vertically */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    padding: 2px ; /* Add padding for consistent spacing */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover */
}

.menu-item a:hover {    
    background-color: #365f9e; /* Change background color on hover */
    color: #ffffff; /* Ensure text color stays white on hover */
}

.menu-item img {
    width: 20px; /* Set a consistent width for all icons */
    height: 20px; /* Set a consistent height for all icons */
    object-fit: contain; /* Ensure the icons maintain their aspect ratio */
}

.menu-item p, .menu-item span {
    margin-left: 10px; /* Space between icon and text */
    font-weight: 700; /* Make the text bold */
}

.logout {
    margin-top: auto; /* Push logout to the bottom */
}

.logo {
    margin-top:10px; /* Adjust this value to move the logo down */
    text-align: center; /* Optional: centers the logo horizontally */
}

.site-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.1px;
    text-align: left;
    color: white; /* Adjust this if you want a different color */
    margin-left: 10px; /* Adds some space between the logo and text */
    position: relative;
    top: -8px; /* Adjust this value to raise the text higher */
}

.logo img {
    height: 41px;
}
